:root {
  --shadow: #1a1a1a;
  --text1: #ffffff;
  --text2-hover: #a386f5;
  --background1: #1a1a1a;
  --background-project: #5a2bde;
  --back-to-top: #ffffff3a;
  --background-footer: #5a2bde;
  --wave: #1a1a1a;
  --navbar-dark: #1a1a1a3d;
  --navbar-light: #d7d4ee3d;
  --gradient-contact: linear-gradient(
    to bottom,
    #5a2bde,
    #422eab,
    #322a79,
    #272348,
    #1a1a1a
  );
}
:root.light {
  --shadow: #1a1a1a;
  --text1: #1a1a1a;
  --text2-hover: #a386f5;
  --background1: #d7d4ee;
  --background-project: #795be7;
  --back-to-top: #ffffff3a;
  --background-footer: #795be7;
  --wave: #d7d4ee;
  --navbar-dark: #1a1a1a3d;
  --navbar-light: #d7d4ee3d;
  --gradient-contact: linear-gradient(
    to bottom,
    #5a2bde,
    #795be7,
    #9885ec,
    #b6acef,
    #d7d4ee
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  text-align: center;
}
body {
  background-color: var(--background1);
  overflow-x: hidden;
}
#welcome-section {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 15%;
}
.text-part {
  color: var(--text1);
  margin-bottom: 30px;
  margin-top: 30px;
  animation-timing-function: ease-out;
  display: inline-block;
  position: relative;
}
@keyframes slide-in-up {
  0% {
    transform: translateY(-680%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(530%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
.text-part.left {
  animation-name: slide-in-left;
  animation-duration: 2.5s;
}
.text-part.up {
  animation-name: slide-in-up;
  animation-duration: 1.5s;
}
h2 {
  font-size: smaller;
  font-weight: 400;
  color: var(--text2-hover);
  text-shadow: 1px 1px var(--shadow);
  margin-bottom: 30px;
  margin-top: 15px;
  font-style: italic;
}
#welcome-section p {
  color: var(--text1);
  text-align: center;
  padding: 15px;
}
.project-tile img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}
#projects h1 {
  margin-top: 250px;
  color: var(--text1);
}
#projects a {
  text-decoration: none;
}
#projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}
.project-tile {
  max-width: 550px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--background-footer);
}
.project-tile:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}
.project-info {
  position: absolute;
  width: 100%;
  max-width: 100%;
  padding: 11px;
  background-color: var(--navbar-dark);
  backdrop-filter: blur(6px);
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.7s ease, transform 0.3s ease;
}
.project-tile:hover .project-info {
  opacity: 1;
  transform: translateY(0);
}
#projects-section p {
  color: var(--text1);
  font-size: 1em;
  background: var(--background-project);
  padding: 5px 5px 10px 0;
}
.bubbles {
  position: absolute;
  width: 100%;
  z-index: -1;
}
#contact-section {
  margin: 150px auto;
  background-image: var(--gradient-contact);
  border-radius: 20px 20px 0 0;
  padding: 50px 20px;
  max-width: 600px;
}

#contact-section h1 {
  color: var(--text1);
}
#contact-section a {
  color: var(--text1);
}
form {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  text-align: left;
}
.bubbles.left {
  position: absolute;
  left: -460px;
  z-index: -1;
  max-width: 100%;
}
.bubbles.right {
  position: absolute;
  right: -450px;
  z-index: -1;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .bubbles.left,
  .bubbles.right {
    display: none;
  }
}
form label {
  color: var(--text1);
  margin-top: 15px;
  display: block;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
}
.button {
  background: transparent;
  display: block;
  width: 30%;
  font-size: 0.9em;
  margin: 10px auto 0 auto;
  color: var(--text1);
  cursor: pointer;
  transition: ease-out 0.4s;
  border: 2px solid var(--text1);
  border-radius: 10px;
}
.button:hover {
  box-shadow: inset 0 -100px 0 0 var(--text1);
  color: var(--background1);
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.99);
}
#footer-section {
  position: relative;
  background-color: var(--background-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 30px;
}
#footer-section i {
  margin: auto 10px;
}
#footer-section a {
  color: var(--text1);
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
#profile-link {
  font-size: larger;
}
.wave {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  top: -2px;
}
.wave svg {
  display: block;
  width: 100%;
  height: auto;
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--back-to-top);
  color: var(--background1);
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.back-to-top:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  color: var(--text1);
}
#navbar .logo img {
  width: 2vw;
  height: auto;
  scale: 3;
  color: var(--logo);
  margin-top: 10px;
}
#navbar {
  position: fixed;
  width: 100vw;
  background: var(--navbar-dark);
  backdrop-filter: blur(4px);
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: var(--text1);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s ease;
}
nav ul li a:hover {
  background-color: var(--text2-hover);
}
#toggle-theme {
  background: transparent;
  border: none;
  color: var(--text1);
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.4s ease;
  transform: rotate(-20deg);
}
#toggle-theme:hover {
  transform: rotate(0deg);
}
@media screen and (max-width: 1024px) {
  .logo {
    scale: 1.5;
  }
  #welcome-section {
    padding-top: 30%;
    max-width: 95%;
  }
  #welcome-section p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .project-tile img {
    height: 400px;
  }
}
@media screen and (max-width: 660px) {
  .project-tile img {
    height: 350px;
    max-width: 400px;
  }
  #contact-section {
    max-width: 450px;
  }
}
